<div class="container">
    <div style="float: left;">
    <a routerLink="/userlist" id="goback">Go back</a>
    </div>
  <div style="float: right;">
      <button (click)="logout()" class="basic-btn">Logout</button>
  </div>
    <h1>User Edit Form</h1>
    <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.name" formControlName = "name" required >
          
        </div>
        
      <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" [(ngModel)]="user.address" id="address" required
           name="address" formControlName = "address">
         
        </div>
   
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" [(ngModel)]="user.email" id="email" required
          name="email" formControlName = "email">
          
        </div>

        <div class="form-group">
          <label for="birthdate">Birthdate</label>
          <p-calendar  name="birthdate" formControlName = "birthdate" id="birthdate" [(ngModel)]="user.birthdate" dateFormat="mm/dd/yy"></p-calendar> 
          
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" [(ngModel)]="user.gender" id="gender"
                  required
                  name="gender"
                  formControlName = "gender">
            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
          </select>
         
         </div>
  
        
      <div class="form-group">
              <input type = "submit" class="btn btn-success" [disabled] = "!formdata.valid" 
              value = "Update User">
      </div>
       
    </form>
 </div>
